{% extends 'base.html' %}
{%block head%}
{%endblock%}
{%block body%}
	<header>
		<h3>WiFi Scan Result</h3>
		<hr>
	</header>
	{%for cell in wifiscan%}
		<p>{{cell['essid']}}</p>
		<style type="text/css">

		</style>
	{%endfor%}

	{#<p>{{wifiscan[0]}}</p>#}

	<div class="wifiform">
		<form action="#" method="post">
			<p>WiFi SSID</p>
			<p><input type="text" name="ssid"/></p>
			<p>WiFi password</p>
			<p><input type="password" name="pw"/></p>
			<p><input type="submit" value="save"/></p>
		</form>
	</div>

	<style type="text/css">
		
	</style>
{%endblock%}
